body{
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  overflow: hidden;
}
.nav{
  background-color: brown;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  
}
.nav2{
display: flex;
gap: 20px;
margin-left: 10px;
font-size: large;
}