html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
input{
  height: 50px;
  width: 400px;
  background-color: black;
  color: white;
  opacity: 1;
  margin-top: 40px;
  margin-left: 30px;
}
button{
  width: 140px;
  height: 60px;
  border-radius: 10%;
}